// SITE SPACING
$spacing: 20px;
$left-proportion: 40%;
$right-proportion: 60%;
$twenty-percent: 20%;
$width: width;
$border: 1.5px dashed;

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

// SITE COLORS
$black: #020302;
$dblue: #536164;
$lblue: #D5DADD;
$dpurple: #98838A;
$lpurple: #DDD4D7;
$dbrown: #946C54;
$lbrown: #C6B6AD;

body{
  font-family: 'BaskervilleBT-Roman', serif;
  font-weight: normal;
  font-style: normal;
}

.block1{
  h1 {
    font-size: 1em;
    letter-spacing: 2px;
    font-family: 'BaskervilleBT-Roman', serif;
	  font-weight: normal;
	  font-style: normal;
    @media screen and (max-width: $break-medium) {
      font-size: 1.25em;
    }
  }

  h2 {
    font-size: .5em;
    letter-spacing: 1.5px;
  }

  #hours-list,
  #location-list {
    font-size: .75em;
    line-height: .75em;
    letter-spacing: .5px;
  }
}

.block2{
  ul{
    font-size: 1.5em;
    line-height: 1.25em;
  }
}

.block3{
  .about-subtitle{
    margin:0;
    font-size: 1em;
    line-height: 1.5em;
    @media screen and (max-width: $break-medium) {
      font-size: 1em;
      line-height: 1.5em;
    }
  }
  .about-text{
    margin:0;
    font-size: .75em;
    line-height: 1.5em;

    @media screen and (max-width: $break-medium) {
      line-height: 2em;
    }
  }
}
