// SITE SPACING
$spacing: 20px;
$left-proportion: 40%;
$right-proportion: 60%;
$twenty-percent: 20%;
$width: width;
$border: 1.5px dashed;

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

// SITE COLORS
$black: #020302;
$dblue: #536164;
$lblue: #D5DADD;
$dpurple: #98838A;
$lpurple: #DDD4D7;
$dbrown: #946C54;
$lbrown: #C6B6AD;

@font-face {
  font-family: Reader;
  src: url('fonts/reader-regular-webfont.woff2') format('woff2'),
    url('fonts/reader-regular-webfont.woff') format('woff');
}
@font-face {
  font-family: ReaderBold;
  src: url('fonts/reader-bold-webfont.woff2') format('woff2'),
    url('fonts/reader-bold-webfont.woff') format('woff');
}

body {
	font-smooth: always;
 	-webkit-font-smoothing: antialiased;
	font-family: 'Reader', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.2;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	line-height: 1.2;
	font-weight: 300;
}

h1{
	font-size: 1.5em;
	letter-spacing: .75px;
	font-weight: 700;
	color: white;
}

h2{
	font-size: 2em;
	font-weight: 500;
}

h3{
	font-size: 1em;
	font-weight: 500;
}

a{
	list-style: none;
	text-decoration: none;
}

//////// GLOBAL

#collectie-link{
	#{$a-tags} {
	  color: $lpurple;
	}
	#{$a-tags-hover} {
	  color: $dpurple;
	}
}

#portfolio-link{
	#{$a-tags} {
	  color: $lblue;
	}
	#{$a-tags-hover} {
	  color: $dblue;
	}
}

#maak-link{
	#{$a-tags} {
	  color: $lbrown;
	}
	#{$a-tags-hover} {
	  color: $dbrown;
	}
}



//////// NAVIGATION

.home_nav{
  #logo{
    opacity:1;
  }
	#{$a-tags} {
    color: $dpurple;
    opacity: 0.6;
	}
	#{$a-tags-hover} {
    opacity: 1;
	}
}

.blue_nav, .brown_nav, .purple_nav{
  #logo{
    opacity:1;
  }
	#{$a-tags} {
    color: white;
    opacity: 0.6;
	}
	#{$a-tags-hover} {
    opacity: 1;
	}
}


#nav_block_left_list, .nav_block_right_submenu{
  font-size: .75em;
   text-align:right;
}

//////// HOMEPAGE

main{
	// #{$a-tags} {
	//   color: $lpurple;
	// }
	// #{$a-tags-hover} {
	//   color: $dpurple;
	// }
	.maak_block_content{
		color: $dbrown;
	}
}

//////// COLLECTIE

.item_block_right{
	.item_block_right_header{
		#product_title{
			font-size: 2em;
			// line-height: 2em;
		}
		#product_subtitle{
			font-size: .75em;
			line-height: 2em;
		}
		.item_block_right_viewoptions{
			color: $lpurple;
			font-size: .75em;
			&:hover {
				color: white;
			}
		}
		.item_block_right_viewoptions_selected{
			color: $lpurple !important;
			&:hover {
				color: $dpurple !important;
			}
		}
	}

	.item_block_right_details_specstitle, .item_block_right_details_orderingtitle, #item_block_right_details_kleuren_title{
		font-family: 'ReaderBold';
		font-size: .5em;
		letter-spacing: .5px;
		line-height: 2em;
		text-transform: uppercase;
		font-weight: bold;
	}
	.item_block_right_details_specslist{
		padding-bottom: $spacing;
		font-size: .75em;
		li{
			list-style: circle !important;
			list-style-position: inside !important;
		}
	}
	.item_block_right_details_orderingp{
		font-size: .75em;
		margin:0;
		line-height: 1.5em;
	}
}

//////// PORTFOLIO

#portfolio_gallery_block{
  .block_title{
    color: $dblue;
    padding: $spacing 0 $spacing $spacing;
  }
}

//////// MAAK

#maak_announcement_block {
  color:$dbrown;
  .maak_announcement_text {
    h1{
      font-family: 'ReaderBold';
      font-size: 3em;
      color:$dbrown;
    }
    p{
      font-size: 1.25em;
    }
  }
}

//////// CATALOG

.catalog_content{
  .catalog_content_banner{
    .banner_title{
      font-size: .75em;
    }
  }
}
